In [1]:
import duckdb as ddb
import pandas as pd

In [2]:
conn = ddb.connect("../airquality.db")

In [3]:
df = conn.query("select * from raw.air_quality_data where parameter in ('so2','pm10','pm25') ").to_df()
df

,location_id,sensor_id,location,datetime,LAT,lon,parameter,units,value,month,year,ingestion_datetime
0,222830,1292732,Sens6_855b-235252,2021-04-14 08:34:16,35.147285,33.415157,pm10,µg/m³,57.2,04,2021,2024-11-28 14:30:19.789
1,222830,1292732,Sens6_855b-235252,2021-04-14 08:38:16,35.147285,33.415157,pm10,µg/m³,34.2,04,2021,2024-11-28 14:30:19.789
2,222830,1292732,Sens6_855b-235252,2021-04-14 08:46:16,35.147285,33.415157,pm10,µg/m³,40.7,04,2021,2024-11-28 14:30:19.789
3,222830,1292732,Sens6_855b-235252,2021-04-14 08:52:18,35.147285,33.415157,pm10,µg/m³,24.7,04,2021,2024-11-28 14:30:19.789
4,222830,1292732,Sens6_855b-235252,2021-04-14 08:54:21,35.147285,33.415157,pm10,µg/m³,44.0,04,2021,2024-11-28 14:30:19.789
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,222830,1292733,Sens6_855b-235252,2021-04-28 00:01:51,35.147285,33.415157,pm25,µg/m³,15.8,04,2021,2024-11-28 15:43:11.992
2204,222830,1292733,Sens6_855b-235252,2021-04-28 00:03:40,35.147285,33.415157,pm25,µg/m³,16.4,04,2021,2024-11-28 15:43:11.992
2205,222830,1292733,Sens6_855b-235252,2021-04-28 00:15:41,35.147285,33.415157,pm25,µg/m³,17.1,04,2021,2024-11-28 15:43:11.992
2206,222830,1292733,Sens6_855b-235252,2021-04-28 00:21:54,35.147285,33.415157,pm25,µg/m³,15.6,04,2021,2024-11-28 15:43:11.992
2207,222830,1292733,Sens6_855b-235252,2021-04-28 00:25:46,35.147285,33.415157,pm25,µg/m³,15.0,04,2021,2024-11-28 15:43:11.992

In [7]:
df.describe(include='O')

                 location parameter  units month
count                2208      2208   2208  2208
unique                  1         2      1     1
top     Sens6_855b-235252      pm10  µg/m³    04
freq                 2208      1104   2208  2208

In [12]:
df[df.duplicated(subset=["location_id", "parameter", "units", "value", "datetime"])]

,location_id,sensor_id,location,datetime,LAT,lon,parameter,units,value,month,year,ingestion_datetime
184,222830,1292732,Sens6_855b-235252,2021-04-14 08:34:16,35.147285,33.415157,pm10,µg/m³,57.2,04,2021,2024-11-28 14:30:57.858
185,222830,1292732,Sens6_855b-235252,2021-04-14 08:38:16,35.147285,33.415157,pm10,µg/m³,34.2,04,2021,2024-11-28 14:30:57.858
186,222830,1292732,Sens6_855b-235252,2021-04-14 08:46:16,35.147285,33.415157,pm10,µg/m³,40.7,04,2021,2024-11-28 14:30:57.858
187,222830,1292732,Sens6_855b-235252,2021-04-14 08:52:18,35.147285,33.415157,pm10,µg/m³,24.7,04,2021,2024-11-28 14:30:57.858
188,222830,1292732,Sens6_855b-235252,2021-04-14 08:54:21,35.147285,33.415157,pm10,µg/m³,44.0,04,2021,2024-11-28 14:30:57.858
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,222830,1292733,Sens6_855b-235252,2021-04-28 00:01:51,35.147285,33.415157,pm25,µg/m³,15.8,04,2021,2024-11-28 15:43:11.992
2204,222830,1292733,Sens6_855b-235252,2021-04-28 00:03:40,35.147285,33.415157,pm25,µg/m³,16.4,04,2021,2024-11-28 15:43:11.992
2205,222830,1292733,Sens6_855b-235252,2021-04-28 00:15:41,35.147285,33.415157,pm25,µg/m³,17.1,04,2021,2024-11-28 15:43:11.992
2206,222830,1292733,Sens6_855b-235252,2021-04-28 00:21:54,35.147285,33.415157,pm25,µg/m³,15.6,04,2021,2024-11-28 15:43:11.992
2207,222830,1292733,Sens6_855b-235252,2021-04-28 00:25:46,35.147285,33.415157,pm25,µg/m³,15.0,04,2021,2024-11-28 15:43:11.992

In [13]:
df.groupby(by="parameter", as_index=False).count()

,parameter,location_id,sensor_id,location,datetime,LAT,lon,units,value,month,year,ingestion_datetime
0,pm10,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
1,pm25,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104