In [1]:
import duckdb as ddb
import pandas as pd

In [2]:
conn = ddb.connect("../airquality.db")

In [15]:
df = conn.query("select * from raw.air_quality_data ").to_df()
df

,location_id,sensor_id,location,datetime,LAT,lon,parameter,units,value,month,year,ingestion_datetime
0,222830,1292732,Sens6_855b-235252,2021-04-14 08:34:16,35.147285,33.415157,pm10,µg/m³,57.200,04,2021,2024-11-28 14:30:19.789
1,222830,1292732,Sens6_855b-235252,2021-04-14 08:38:16,35.147285,33.415157,pm10,µg/m³,34.200,04,2021,2024-11-28 14:30:19.789
2,222830,1292732,Sens6_855b-235252,2021-04-14 08:46:16,35.147285,33.415157,pm10,µg/m³,40.700,04,2021,2024-11-28 14:30:19.789
3,222830,1292732,Sens6_855b-235252,2021-04-14 08:52:18,35.147285,33.415157,pm10,µg/m³,24.700,04,2021,2024-11-28 14:30:19.789
4,222830,1292732,Sens6_855b-235252,2021-04-14 08:54:21,35.147285,33.415157,pm10,µg/m³,44.000,04,2021,2024-11-28 14:30:19.789
...,...,...,...,...,...,...,...,...,...,...,...,...
6619,222830,1292729,Sens6_855b-235252,2021-04-28 00:01:51,35.147285,33.415157,um100,particles/cm³,0.010,04,2021,2024-11-28 15:43:11.992
6620,222830,1292729,Sens6_855b-235252,2021-04-28 00:03:40,35.147285,33.415157,um100,particles/cm³,0.016,04,2021,2024-11-28 15:43:11.992
6621,222830,1292729,Sens6_855b-235252,2021-04-28 00:15:41,35.147285,33.415157,um100,particles/cm³,0.015,04,2021,2024-11-28 15:43:11.992
6622,222830,1292729,Sens6_855b-235252,2021-04-28 00:21:54,35.147285,33.415157,um100,particles/cm³,0.008,04,2021,2024-11-28 15:43:11.992
6623,222830,1292729,Sens6_855b-235252,2021-04-28 00:25:46,35.147285,33.415157,um100,particles/cm³,0.003,04,2021,2024-11-28 15:43:11.992

In [16]:
df.describe(include='O')

                 location parameter  units month
count                6624      6624   6624  6624
unique                  1         6      2     1
top     Sens6_855b-235252      pm10  µg/m³    04
freq                 6624      1104   3312  6624

In [17]:
df[df.duplicated(subset=["location_id", "parameter", "units", "value", "datetime"])]

,location_id,sensor_id,location,datetime,LAT,lon,parameter,units,value,month,year,ingestion_datetime
1104,222830,1292732,Sens6_855b-235252,2021-04-14 08:34:16,35.147285,33.415157,pm10,µg/m³,57.200,04,2021,2024-11-28 14:30:57.858
1105,222830,1292732,Sens6_855b-235252,2021-04-14 08:38:16,35.147285,33.415157,pm10,µg/m³,34.200,04,2021,2024-11-28 14:30:57.858
1106,222830,1292732,Sens6_855b-235252,2021-04-14 08:46:16,35.147285,33.415157,pm10,µg/m³,40.700,04,2021,2024-11-28 14:30:57.858
1107,222830,1292732,Sens6_855b-235252,2021-04-14 08:52:18,35.147285,33.415157,pm10,µg/m³,24.700,04,2021,2024-11-28 14:30:57.858
1108,222830,1292732,Sens6_855b-235252,2021-04-14 08:54:21,35.147285,33.415157,pm10,µg/m³,44.000,04,2021,2024-11-28 14:30:57.858
...,...,...,...,...,...,...,...,...,...,...,...,...
6619,222830,1292729,Sens6_855b-235252,2021-04-28 00:01:51,35.147285,33.415157,um100,particles/cm³,0.010,04,2021,2024-11-28 15:43:11.992
6620,222830,1292729,Sens6_855b-235252,2021-04-28 00:03:40,35.147285,33.415157,um100,particles/cm³,0.016,04,2021,2024-11-28 15:43:11.992
6621,222830,1292729,Sens6_855b-235252,2021-04-28 00:15:41,35.147285,33.415157,um100,particles/cm³,0.015,04,2021,2024-11-28 15:43:11.992
6622,222830,1292729,Sens6_855b-235252,2021-04-28 00:21:54,35.147285,33.415157,um100,particles/cm³,0.008,04,2021,2024-11-28 15:43:11.992
6623,222830,1292729,Sens6_855b-235252,2021-04-28 00:25:46,35.147285,33.415157,um100,particles/cm³,0.003,04,2021,2024-11-28 15:43:11.992

In [18]:
df.groupby(by="parameter", as_index=False).count()

,parameter,location_id,sensor_id,location,datetime,LAT,lon,units,value,month,year,ingestion_datetime
0,pm1,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
1,pm10,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
2,pm25,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
3,um010,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
4,um025,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104
5,um100,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104,1104

In [19]:
df[df["value"] < 0]["location"].unique()

array([], dtype=object)

In [21]:
conn.close()